<SystemConfig>
<DiagnosticMode>False</DiagnosticMode>
<SystemDelayMs>1.0</SystemDelayMs>
<Garden>
	<GardenName>BasementGarden</GardenName>
	<Capacity>1</Capacity>
<Cell>
	<CellName>Cell1</CellName>
	<PlantType>Basil</PlantType>
	<SprayPin>4</SprayPin>
	<TimeBetweenSprays>100.0</TimeBetweenSprays>
	<SprayDuration>5.0</SprayDuration>
	<LastSpray>1640135122.8700218</LastSpray>
	<AssociatedLight>Cell1Light</AssociatedLight>
	<LightOnTimeOfDay>6:00</LightOnTimeOfDay>
	<LightOffTimeOfDay>18:00</LightOffTimeOfDay>
</Cell>
<Basin>
	<BasinName>BasementBasin</BasinName>
	<Temp>45.0</Temp>
	<Salinity>0.5</Salinity>
	<PollDelay>300</PollDelay>
</Basin>
<Light>
	<LightName>Cell1Light</LightName>
	<ControlPin>1</ControlPin>
</Light>
</Garden>

</SystemConfig>