<SystemConfig>
<Garden>
	<GardenName>BasementGarden</GardenName>
	<Capacity>1</Capacity>
<Cell>
	<CellName>Cell1</CellName>
	<PlantType>Basil</PlantType>
	<SprayPin>4</SprayPin>
	<OffTime>100.0</OffTime>
	<OnTime>5.0</OnTime>
	<LastSpray>1639340092.4361472</LastSpray>
</Cell>
<Basin>
	<BasinName>BasementBasin</BasinName>
	<Temp>45.0</Temp>
	<Salinity>0.5</Salinity>
	<PollDelay>300</PollDelay>
</Basin>
<Light>
	<LightName>Cell1Light</LightName>
	<PinNum>1</PinNum>
	</Light>
</Garden>

</SystemConfig>